<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="bitGilde IT Solutions UG (haftungsbeschr&auml;nkt)"
    />

    <title>TIMAAT - Publication - Medium</title>

    <!-- Bootstrap Core CSS -->
    <link
      href="../../vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- JQuery UI CSS -->
    <link
      href="../../vendor/jquery/plugins/jquery-ui/jquery-ui.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- FontAwesome -->
    <link
      href="../../vendor/fontawesome/css/all.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Leaflet CSS -->
    <link
      href="../../vendor/leaflet/leaflet.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- ***************************************************************************************************************** -->

    <!-- JQuery -->
    <script src="../../vendor/jquery/jquery.min.js"></script>

    <!-- JQuery UI -->

    <!-- Bootstrap -->
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Leaflet -->
    <script src="../../vendor/leaflet/leaflet.js"></script>

    <!-- ***************************************************************************************************************** -->

    <!-- Publication Data -->
    <script type="text/javascript">
      var TIMAATSettings = {{TIMAAT-SETTINGS}};
      var TIMAATData = {{TIMAAT-DATA}};
      var TIMAATAnalysis = {{TIMAAT-ANALYSIS}};
    </script>

    <!-- ***************************************************************************************************************** -->

    <!-- TIMAAT Publication Module -->
    <link rel="stylesheet" href="../../css/publication.css" type="text/css" />
    <script
      type="text/javascript"
      src="../../js/publication/TIMAATPublication.js"
    ></script>

    <script type="text/javascript">
      function setupPublication() {
        window.TIMAATPub = new TIMAATPublication();
        // load annotation list
        TIMAATPub.run();
      }
    </script>
  </head>

  <!-- ***************************************************************************************************************** -->

  <body onload="setupPublication()">
    <div id="publicationLeftSidebar" class="sidebar collapsed">
      <div class="alert-dark mb-0">
        <div class="mb-2 d-inline-flex timaat-list-info">
          <span class="badge list__title"></span>
        </div>
      </div>
      <!-- <a
        href="javascript:void(0)"
        class="closebtn"
        onclick="TIMAATPub.closeSidebar('left')"
        ><i class="fas fa-chevron-circle-left"></i
      ></a> -->
      <div class="annotation__wrapper overflow-auto">
        <ul
          id="analysisList"
          class="list-group list-group-flush analysis__list"
        ></ul>
      </div>
    </div>
    <div id="publicationRightSidebar" class="sidebar sidebar-right collapsed">
      <div class="alert alert-dark mb-0 text-center">
        <span class="badge">Metadata</span>
      </div>
      <a
        href="javascript:void(0)"
        class="closebtn"
        onclick="TIMAATPub.closeSidebar('right')"
        ><i class="fas fa-chevron-circle-right"></i
      ></a>
      <div class="timaat-metadata-wrapper overflow-auto">
        <div class="metadata-content">
          <div class="metadataSection annotationSection">
            <div
              class="
                metadata-header
                border-top border-bottom border-dark
                bg-secondary
                font-weight-bold
                text-light text-center
                pl-2
                pr-2
              "
            >
              Annotation
            </div>
          </div>
          <div class="metadataSection annotationMetadata d-none">
            <div class="metadata-field annotationTitle">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-draw-polygon"></i> Title
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field annotationComment">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-comment"></i> Comment
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field annotationCategories">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-tags"></i> Categories
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field annotationTags">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-tags"></i> Tags
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field annotationActors">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-users"></i> Actors
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field annotationEvents">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="far fa-calendar-alt"></i> Events
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <!--
						<div class="metadata-field annotationPlaces">
						<div class="metadata-header border-bottom border-dark bg-light pl-2 pr-2"><i class="fas fa-globe-americas"></i> Orte</div>
						<div class="metadata-value mb-2 pl-2 pr-2"><div class="empty-placeholder text-center text-muted">- not specified -</div><span class="contents"></span></div>
						</div>
						-->
          </div>
          <div class="metadataSection segmentSection">
            <div
              class="
                metadata-header
                border-top border-bottom border-dark
                bg-secondary
                font-weight-bold
                text-light text-center
                pl-2
                pr-2
              "
            >
              Segment
            </div>
          </div>
          <div class="metadataSection segmentMetadata d-none">
            <div class="metadata-field segmentName">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-indent"></i> Title
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field segmentDescription">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-quote-right"></i> Short description
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field segmentComment">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-comment"></i> Comment
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field segmentCategories">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-tags"></i> Categories
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
          </div>
          <div class="metadataSection listSection">
            <div
              class="
                metadata-header
                border-top border-bottom border-dark
                bg-secondary
                font-weight-bold
                text-light text-center
                pl-2
                pr-2
              "
            >
              Analysis
            </div>
          </div>
          <div class="metadataSection listMetadata">
            <div class="metadata-field listTitle">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-list-alt"></i> Title
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field listComment">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-comment"></i> Comment
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field listCategorySets">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-tags"></i> Category sets
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field listTags">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-tags"></i> Tags
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
          </div>
          <div class="metadataSection mediumSection">
            <div
              class="
                metadata-header
                border-top border-bottom border-dark
                bg-secondary
                font-weight-bold
                text-light text-center
                pl-2
                pr-2
              "
            >
              Medium
            </div>
          </div>
          <div class="metadataSection mediumMetadata">
            <div class="metadata-field mediumTitle">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-video"></i> Title
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field mediumRemark">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-comment"></i> Remark
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field mediumReleaseData">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="far fa-calendar-alt"></i> Release Date
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field mediumSource">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-external-link-alt"></i> Sources
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field mediumCopyright">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="far fa-copyright"></i> Copyright
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field mediumCategories">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-tags"></i> Categories
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field mediumTags">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-tags"></i> Tags
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="publicationMain">
      <div class="alert alert-dark timaat-header mb-0">
        <div class="d-flex justify-content-between">
          <div class="left-header">
            <div
              class="btn-group btn-group-sm dropdown stopPlaybackConditions"
            >
              <button
                type="button"
                class="btn btn-outline-dark dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-cog"></i>
              </button>
              <div class="dropdown-menu pl-2 pr-2 publication__settings">
                <span class="badge"
                  ><i class="fas fa-chalkboard-teacher"></i> TIMAAT
                  Publication</span
                >
                <hr class="mt-0 mb-2" />
                <div class="font-weight-bold">
                  Stop playback for annotations of type:
                </div>
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input
                        type="checkbox"
                        class="timaat-settings settingsStopAtImage"
                      />
                    </div>
                  </div>
                  <div class="form-control">
                    <i class="fas fa-image"></i> Full screen
                  </div>
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input
                        type="checkbox"
                        class="timaat-settings settingsStopAtPolygon"
                      />
                    </div>
                  </div>
                  <div class="form-control">
                    <i class="fas fa-draw-polygon"></i> Polygon
                  </div>
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input
                        type="checkbox"
                        class="timaat-settings settingsStopAtAudio"
                      />
                    </div>
                  </div>
                  <div class="form-control">
                    <i class="fas fa-headphones"></i> Audio track
                  </div>
                </div>
                <div class="font-weight-bold">
                  Stop playback for:
                </div>
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input
                        type="checkbox"
                        class="timaat-settings settingsStopAtSegment"
                      />
                    </div>
                  </div>
                  <div class="form-control">
                    <i class="fas fa-ruler-horizontal"></i> Segment
                  </div>
                </div>
              </div>
            </div>
            &nbsp; <i class="fas fa-video"></i>
            <span class="mediumTitle"></span>
          </div>
          <div class="right-header">
            <button
              id="publicationToggleFullscreen"
              title="Fullscreen mode"
              type="button"
              class="mr-2 btn btn-sm btn-outline-dark"
            >
              <i class="fas fa-expand-alt"></i>
            </button>
            <button
              title="go to video"
              type="button"
              onclick="javascript:$('#publicationMain').animate({scrollTop:60}, 100);"
              class="btn btn-sm btn-outline-dark"
            >
              <i class="fas fa-arrow-down"></i>
            </button>
          </div>
        </div>
      </div>
      <div id="publication__viewer"></div>
      <div id="publicationVideoControls">
        <div class="timeInfo p-1 bg-dark text-white text-center">00:00:00</div>
        <div class="top-control">
          <div class="segment-seekbar seekbar mt-1 mb-1"></div>
          <div class="videoSeekBar seekbar">
            <span class="progress"></span>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="left-controls mt-2 mb-2">
            <!-- Annotation List Control -->
            <div class="btn-group btn-group-sm ml-1 mr-2">
              <button
                title="Annotation list [a]"
                class="btn btn-outline-secondary text-white toggleLeftSidebar"
              >
                <i class="fas fa-draw-polygon"></i>
              </button>
            </div>
            <div class="btn-group btn-group-sm playback-controls">
              <button
                title="Previous frame [&larr;]"
                class="stepBackButton btn btn-outline-secondary text-white"
              >
                <i class="fas fa-step-backward"></i>
              </button>
              <button
                title="Play/Pause [space-bar]"
                class="
                  toggle-play-pause
                  play
                  btn btn-outline-secondary
                  text-white
                "
              >
                <i class="play-icon icon fas fa-play fa-fw"></i
                ><i class="pause-icon icon fa fa-pause fa-fw"></i>
              </button>
              <button
                title="Next frame [&rarr;]"
                class="stepForwardButton btn btn-outline-secondary text-white"
              >
                <i class="fas fa-step-forward"></i>
              </button>
            </div>
            <!-- Playback Speed Control -->
            <div class="btn-group btn-group-sm">
              <button
                title="Playback speed [s]"
                class="btn text-white playbackSpeed"
              >
                <span class="playbackSpeedInfo">1&times;</span>
              </button>
            </div>
            <!-- Volume Control -->
            <div
              class="video-volume-control btn-group btn-group-sm"
              title="Set volume  [m = toggle mute]"
            >
              <button class="btn toggle-volume on text-white">
                <i class="fas fa-volume-up icon volume-on"></i>
                <i class="fas fa-volume-mute icon volume-off"></i>
              </button>
              <div class="volumeSeekBar seekbar align-self-center">
                <span class="progress" style="width: 100%"></span>
              </div>
            </div>
            <div class="video-timings ml-3 d-inline-flex">
              <div class="startTime time">00:00:00</div>
              &nbsp;/&nbsp;
              <div class="endTime time">00:00:00</div>
            </div>
          </div>
          <div class="right-controls mt-2 mb-2">
            <!-- Metadata Info Control -->
            <div class="btn-group btn-group-sm mr-1">
              <button
                title="Toggle metadata display [i]"
                class="
                  btn btn-outline-secondary
                  text-white
                  toggleRightSidebar
                "
              >
                <i class="fas fa-info fa-fw"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
