<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="bitGilde IT Solutions UG (haftungsbeschr&auml;nkt)"
    />

    <title>TIMAAT - Publication - Medium</title>

    <!-- Bootstrap Core CSS -->
    <link
      href="../../third-party/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- JQuery UI CSS -->
    <link
      href="../../third-party/jquery/plugins/jquery-ui/jquery-ui.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- FontAwesome -->
    <link
      href="../../third-party/fontawesome/css/all.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Leaflet CSS -->
    <link
      href="../../third-party/leaflet/leaflet.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- ***************************************************************************************************************** -->

    <!-- JQuery -->
    <script src="../../third-party/jquery/jquery.min.js"></script>

    <!-- JQuery UI -->

    <!-- Bootstrap -->
    <script src="../../third-party/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Leaflet -->
    <script src="../../third-party/leaflet/leaflet.js"></script>

    <!-- ***************************************************************************************************************** -->

    <!-- Publication Data -->
    <script type="text/javascript">
      var TIMAATSettings = {{TIMAAT-SETTINGS}};
      var TIMAATData = {{TIMAAT-DATA}};
      var TIMAATAnalysis = {{TIMAAT-ANALYSIS}};
    </script>

    <!-- ***************************************************************************************************************** -->

    <!-- TIMAAT Publication Module -->
    <link rel="stylesheet" href="../../css/publication.css" type="text/css" />
    <script
      type="text/javascript"
      src="../../js/publication/TIMAATPublication.js"
    ></script>

    <script type="text/javascript">
      function setupPublication() {
        window.TIMAATPub = new TIMAATPublication();
        // load annotation list
        TIMAATPub.run();
      }
    </script>
  </head>

  <!-- ***************************************************************************************************************** -->

  <body class="bg-light" onload="setupPublication()">
    <div id="publicationLeftSidebar" class="sidebar collapsed">
      <div class="alert alert-dark mb-0">
        <span class="badge">Analysisliste</span>
      </div>
      <!-- <a
        href="javascript:void(0)"
        class="closebtn"
        onclick="TIMAATPub.closeSidebar('left')"
        ><i class="fas fa-chevron-circle-left"></i
      ></a> -->
      <div class="annotation__wrapper overflow-auto">
        <ul
          id="analysisList"
          class="list-group list-group-flush analysis__list"
        ></ul>
      </div>
    </div>
    <div id="publicationRightSidebar" class="sidebar sidebar-right collapsed">
      <div class="alert alert-dark mb-0 text-center">
        <span class="badge">Metadata</span>
      </div>
      <a
        href="javascript:void(0)"
        class="closebtn"
        onclick="TIMAATPub.closeSidebar('right')"
        ><i class="fas fa-chevron-circle-right"></i
      ></a>
      <div class="timaat-metadata-wrapper overflow-auto">
        <div class="metadata-content">
          <div class="metadataSection annotationSection">
            <div
              class="
                metadata-header
                border-top border-bottom border-dark
                bg-secondary
                font-weight-bold
                text-light text-center
                pl-2
                pr-2
              "
            >
              Annotation
            </div>
          </div>
          <div class="metadataSection annotationMetadata d-none">
            <div class="metadata-field annotationTitle">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-draw-polygon"></i> Title
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field annotationComment">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-comment"></i> Comment
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field annotationCategories">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-tags"></i> Categories
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field annotationTags">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-tags"></i> Tags
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field annotationActors">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-users"></i> Actors
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field annotationEvents">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="far fa-calendar-alt"></i> Events
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <!--
			<div class="metadata-field annotationPlaces">
			<div class="metadata-header border-bottom border-dark bg-light pl-2 pr-2"><i class="fas fa-globe-americas"></i> Orte</div>
			<div class="metadata-value mb-2 pl-2 pr-2"><div class="empty-placeholder text-center text-muted">- not specified -</div><span class="contents"></span></div>
			</div>
			-->
          </div>
          <div class="metadataSection mediumSection">
            <div
              class="
                metadata-header
                border-top border-bottom border-dark
                bg-secondary
                font-weight-bold
                text-light text-center
                pl-2
                pr-2
              "
            >
              Medium
            </div>
          </div>
          <div class="metadataSection mediumMetadata">
            <div class="metadata-field mediumTitle">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-video"></i> Title
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field mediumRemark">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-comment"></i> Remark
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field mediumReleaseData">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="far fa-calendar-alt"></i> Release Date
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field mediumSource">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-external-link-alt"></i> Sources
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field mediumCopyright">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="far fa-copyright"></i> Copyright
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field mediumCategories">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-tags"></i> Categories
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
            <div class="metadata-field mediumTags">
              <div
                class="
                  metadata-header
                  border-bottom border-dark
                  bg-light
                  pl-2
                  pr-2
                "
              >
                <i class="fas fa-tags"></i> Tags
              </div>
              <div class="metadata-value mb-2 pl-2 pr-2">
                <div class="empty-placeholder text-center text-muted">
                  - not specified -
                </div>
                <span class="contents"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="publicationMain" class="collection">
      <div class="alert alert-dark timaat-header mb-0">
        <div class="d-flex justify-content-between">
          <div class="left-header">
            <div
              class="btn-group btn-group-sm dropdown stopPlaybackConditions"
            >
              <button
                type="button"
                class="btn btn-outline-dark dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-cog"></i>
              </button>
              <div class="dropdown-menu pl-2 pr-2 publication__settings">
                <span class="badge"
                  ><i class="fas fa-chalkboard-teacher"></i> TIMAAT
                  Publication</span
                >
                <hr class="mt-0 mb-2" />
                <div class="font-weight-bold">
                  Stop playback for annotations of type:
                </div>
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input
                        type="checkbox"
                        class="timaat-settings settingsStopAtImage"
                      />
                    </div>
                  </div>
                  <div class="form-control">
                    <i class="fas fa-image"></i> Full screen
                  </div>
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input
                        type="checkbox"
                        class="timaat-settings settingsStopAtPolygon"
                      />
                    </div>
                  </div>
                  <div class="form-control">
                    <i class="fas fa-draw-polygon"></i> Polygon
                  </div>
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input
                        type="checkbox"
                        class="timaat-settings settingsStopAtAudio"
                      />
                    </div>
                  </div>
                  <div class="form-control">
                    <i class="fas fa-headphones"></i> Audio track
                  </div>
                </div>
                <div class="font-weight-bold">
                  Stop playback for:
                </div>
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input
                        type="checkbox"
                        class="timaat-settings settingsStopAtSegment"
                      />
                    </div>
                  </div>
                  <div class="form-control">
                    <i class="fas fa-ruler-horizontal"></i> Segment
                  </div>
                </div>
              </div>
            </div>
            &nbsp; <i class="fas fa-folder-open"></i>
            <span class="mediumTitle"></span>
          </div>
          <div class="right-header">
            <button
              id="publicationToggleFullscreen"
              title="Fullscreen mode"
              type="button"
              class="mr-2 btn btn-sm btn-outline-dark"
            >
              <i class="fas fa-expand-alt"></i>
            </button>
          </div>
        </div>
      </div>
      <ul id="publicationCollectionList" class="list-unstyled row p-3 m-auto"></ul>
    </div>
  </body>
</html>
