.playbutton i.play {
	display: inline-block;
}
.playbutton i.pause {
	display: none;
}
.playbutton.active i.play {
	display: none !important;
}
.playbutton.active i.pause {
	display: inline-block !important;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

hr {
  border: 0;            
  background-color:#dee2e6;
  height: 1px;
}

#timaat-notification-pane {
	position: absolute;
	top: 1em;
	right: 1em;
}

#timaat-notification-pane .toast {
	min-width: 250px;
}

#timaat-notification-pane .toast .notification-action-color {
	font-size: 100%;
}

#timaat-login-modal {
	background: url('../img/timaat-login-backdrop.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#timaat-login-modal .modal-content {
	box-shadow: 0px 0px 32px black;
}

body.timaat-login-modal-open #wrapper {
	-webkit-filter: blur(50px);
	-moz-filter: blur(50px);
	-o-filter: blur(50px);
	-ms-filter: blur(50px);
	filter: blur(50px);
}

.modal-body {
	max-height: 80vh;
	overflow-y: auto;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
}

p + p {
	margin-top: 15px;
}

.input-usersettings {
	margin-bottom: 16px !important;
}

.nav-item {
	color: #007bff;
}

.timaat-component {
	display: none;
}

button i.collapse-icon:before {
	content: "\f0d7";
}
button.collapsed i.collapse-icon:before {
	content: "\f0da";
}

th.timaat-padding, td.timaat-padding {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
th.timaat-padding.sorting_asc:before, th.timaat-padding.sorting_desc:before, th.timaat-padding.sorting_asc:after, th.timaat-padding.sorting_desc:after {
	bottom: 0.25rem !important;
}

.timaat-video-card {
	cursor: pointer;
	width: 16rem;
	float: left;
	margin-right: 2em;
	margin-bottom: 2em;
}

.timaat-video-upload-card {
	border: 2px dashed #bbb;
}
#timaat-video-upload {
	position: absolute;
	width: 100%;
	height: 100%
}
#timaat-video-upload:hover {
	background: black;
	opacity: 0.2;
}

#timaat-videochooser-table td.videochooser-item-preview {
	padding:0;
}

/* #timaat-mediumcollectiondatasets-mediumcollection-items td.actions,
#timaat-videochooser-list td.actions {
	padding: 5px 5px;
} */

#timaat-component-videochooser {
	max-height: initial !important;
} 

#timaat-videochooser-table_length, #timaat-videochooser-table_info {
	padding-left: 1em;
}
#timaat-videochooser-table_filter, #timaat-videochooser-table_paginate {
	padding-left: 1em;
	padding-right: 1em;
}

#timaat-videochooser-collectionlibrary, #timaat-videochooser-collectionlist li {
	cursor: pointer;
}

#timaat-component-videoplayer .timaat-videoplayer-video-footer {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.note-toolbar {
 background-color:lightgray;
}

.timaat-medium-thumbnail {
	cursor: ew-resize;
}

.timaat-medium-status {
	display: none;
	cursor: default;
	width: 35px;
	height: 35px;
	margin-bottom: -35px;
	background: rgba(0,0,0,0.8);
	text-align: center;
	font-size: 150%;
	color: white;
}

.timaat-medium-upload {
	display: none;
	cursor: pointer;
	/*
	position: absolute;
	width: 100%;
	height: 133px;
	background: rgba(0,0,0,0.8);
	text-align: center;
	font-size: 150%;
	color: white;
	border: 2px dashed #bbb;
	*/
}

.timaat-medium-transcoding i {
	margin-top: 50px;
}

/*
.timaat-medium-upload i {
	margin-top: 30px;
}

.timaat-medium-thumbnail {
	width: 254px !important;
	height: 133px;
}
*/

.timaat-video-card .duration {
	margin-top: -1.7em;
	margin-right: 0.5em;
	text-shadow: 0 0 2px black;
}

.timaat-video-card .title {
	font-size: 0.75rem;
	height: 5em;
	overflow: hidden;
	text-overflow: ellipsis;
/*	white-space: nowrap; */
}

.card-img-top {
	width: auto;
	max-width: 100%;
	max-height: 100%;
}

.timaat-sidebar-tab:hover {
	background-color: white;
}
.timaat-sidebar-tab a.selected {
	color: white !important;
}
.timaat-sidebar-tab a {
	color: #555 !important;
}

.timaat-item-disabled {
	cursor: default !important;
	color: #6c757d !important;
	
}
.timaat-item-disabled:hover {
	background-color: white !important;
}
#timaat-animation-controlwidget .keyframe-controls {
	overflow: hidden;
}
#timaat-animation-controlwidget .keyframe-controls.collapsed {
	height: 0px
}

.timaat-volumecontrol {
	display: inline-block;
	overflow: hidden;
	height: 1.3rem;
	padding-top: 2px;
	width: 20px;
	transition: width 0.1s;
}
.timaat-volumecontrol:hover {
	width: 130px;
}
.timaat-volumecontrol input {
	width: 100px;
	float: right;
	margin-top: 3px;
	height: 1.3rem;
}
#timaat-volumeicon {
	cursor: pointer;
}
#timaat-volumeicon i.volume {
	display: inline;
}
#timaat-volumeicon i.mute {
	display: none;
}
.timaat-no-tags {
	color: #bbbbbb !important;
}
.timaat-annotation-list-type {
	text-shadow: 1px 1px rgba(127,127,177,0.4);
}
.timaat-annotation-list-comment {
	color: #6c757d;
}
.timaat-annotation-list-title,
.timaat-annotation-segment-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.timaat-annotation-list-tags {
	margin-right: 7px;
	margin-top: 2px;
}

.timaat-annotation-list-wrapper {
	overflow-y: inherit;
	overflow-x: hidden;
}

.list-group-item {
	max-height: 150px;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 10px;
}

.card-body {
	padding: 0px;
}

.timaat-library-list-wrapper {
	height: 100%;
	width: 100%;
	/* max-height: 80vh; */
	overflow-y: hidden;
	overflow-x: hidden;
}

.timaat-datasets-list-wrapper {
	height: 100%;
	width: 100%;
	/* max-height: 80vh; */
	overflow-y: auto;
	overflow-x: hidden;
}

#timaat-annotation-list li, 
#timaat-categoryset-list li, 
#timaat-event-list li, 
#timaat-location-list li,
#timaat-country-list li,
#timaat-province-list li,
#timaat-county-list li,
#timaat-city-list li,
#timaat-street-list li {
	cursor: pointer;
	font-size: 90%;
}

#timaat-annotation-list li:hover,
#timaat-event-list li:hover,
#timaat-location-list li:hover,
#timaat-country-list li:hover,
#timaat-province-list li:hover,
#timaat-county-list li:hover,
#timaat-city-list li:hover,
#timaat-street-list li:hover {
	background-color: #e5e5e5;
}

.timaat-annotation-list-selected, 
.timaat-categoryset-list-selected, 
.timaat-event-list-selected, 
.timaat-location-list-selected,
.timaat-country-list-selected,
.timaat-province-list-selected,
.timaat-county-list-selected,
.timaat-city-list-selected,
.timaat-street-list-selected {
	background-color: #c9e2ff;
}

.timaat-annotation-list-selected:hover,
.timaat-categoryset-list-selected:hover,
.timaat-event-list-selected:hover,
.timaat-location-list-selected:hover,
.timaat-country-list-selected:hover,
.timaat-province-list-selected:hover,
.timaat-county-list-selected:hover,
.timaat-city-list-selected:hover,
.timaat-street-list-selected:hover {
	background-color: #c9e2ff !important;
}

.timaat-categoryset-chooser,
.timaat-event-chooser,
.timaat-location-chooser,
.timaat-country-chooser,
.timaat-province-chooser,
.timaat-county-chooser,
.timaat-city-chooser,
.timaat-street-chooser {
	margin-top: 0.5em;
}

.timaat-categoryset-remove,
.timaat-event-remove,
.timaat-location-remove,
.timaat-country-remove,
.timaat-province-remove,
.timaat-county-remove,
.timaat-city-remove,
.timaat-street-remove {
	margin-right: 1em;
}

#timaat-videoplayer-annotation-add-button:disabled,
#timaat-videoplayer-annotation-remove-button:disabled,
#timaat-videoplayer-annotation-quickadd-button:disabled {
	color: #bbb;
}

#timaat-videoplayer-publication .publicationurl {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#timaat-annotation-metadata {
	display: none;
}
a.dropdown-item {
	cursor: pointer;
}

.dropdown-item-indented {
	text-indent: 10%;
}

.dropdown-item-double-indented {
	text-indent: 20%;
}

.timaat-videoplayer-video-viewer {
	height: 450px;
}

.timaat-videoplayer-image-viewer {
	height: 492px;
}

#timaat-videoplayer-viewer-overlay {
	display: none;
	z-index: 1000;
	background-color: white;
	position: absolute;
	left: 70px;
	right: 20px;
	top: 20px;
	bottom: 69px;
}

#video-seek-bar {
	width: 100%;
	z-index: 100;
}

#timaat-timeline-segment-pane, 
#timaat-timeline-take-pane,
#timaat-timeline-action-pane {
	width: 100%;
	height: 15px;
	display: none;
	margin-bottom: 2px;
}

#timaat-timeline-sequence-pane,
#timaat-timeline-scene-pane {
	width: 100%;
	height: 15px;
	display: none;
	margin-top: 5px;
	margin-bottom: 2px;
}

#timaat-timeline-keyframe-pane {
	position: absolute;
	width: 100%;
	height: 20px;
}
.timaat-timeline-keyframe {
	pointer-events: none;
	font-size: 8px;
	height: 20px;
	z-index: 200;
	margin-top: 10px;
	position: absolute;
	float: left;
	border-left: 2px solid black;
}
.timaat-timeline-keyframe .timaat-timeline-keyframehead {
	pointer-events: all;
	cursor: pointer;
	transform: rotate(45deg);
	border: 1px solid #333;
	box-shadow: 0px 0px 1px #333;
	width: 10px;
	height: 10px;
	margin-left: -6px;
	margin-top: -7px;
	background: white;
}
.timaat-timeline-keyframe .timaat-timeline-keyframehead.first {
	background: #e00;
}
.timaat-timeline-keyframe .timaat-timeline-keyframehead.selected {
	background: #6c757d !important;
}
.timaat-timeline-segment,
.timaat-timeline-sequence,
.timaat-timeline-take,
.timaat-timeline-scene,
.timaat-timeline-action {
	position: absolute;
	border-left: 1px solid #aeb8c1;
	border-right: 1px solid #aeb8c1;
	height: 15px;
	float:left;
	width: 0px;
	background-color: #6c757d;	
	cursor: pointer;
}
.timaat-timeline-segment-name,
.timaat-timeline-sequence-name,
.timaat-timeline-take-name,
.timaat-timeline-scene-name,
.timaat-timeline-action-name {
	padding-left: 3px;
	font-size: 0.70rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#timaat-timeline-marker-pane {
	width: 100%;
	height: 15px;
}
#timaat-timeline-marker-pane .timaat-timeline-marker-anim {
	background-color: rgba(0, 0, 0, 0.3);
}
#timaat-timeline-marker-pane.timaat-timeline-visual-layer .timaat-timeline-marker-visual {
	display: block;
}

/*
#timaat-timeline-marker-pane.timaat-timeline-audio-layer {
	padding-bottom: 85px;
}

#timaat-timeline-marker-pane.timaat-timeline-audio-layer .timaat-timeline-marker-audio {
	display: block;
	margin-top: -58px;
}
*/

.timaat-audio-layer {
	transition: height 0.5s;
	position: relative;
	width: 100%;
	height: 0px;
	margin-top: -6px;
	border: 1px solid gray;
	border-top: none;
}
/*
#timaat-timeline-marker-pane.timaat-timeline-audio-layer .timaat-audio-layer {
	height: 50px;
}
*/
.timaat-audio-layer .timaat-audio-baseline {
	background: linear-gradient(180deg, rgba(0,0,0,0) calc(50% - 0.5px), #395C8D calc(50%), rgba(0,0,0,0) calc(50% + 0.5px) );
	width: 100%;
	height: 100%;
}
.timaat-audio-layer .timaat-audio-waveform {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.6;
}

.timaat-timeline-marker {
	pointer-events: none;
/*	margin-top: -20px; */
	position: absolute;
	float: left;
	width: 0px;
	border-left: 2px solid #c80064;
}
.timaat-timeline-marker-white {
	box-shadow: -1px 0px 0px 0px grey;
}

.timaat-timeline-marker-white .timaat-timeline-markerbar {
	border: 1px solid grey;
}
.timaat-timeline-marker-white .timaat-timeline-markerhead {
	border: 1px solid grey;
	border-left: 0px;
}
.timaat-timeline-marker-white .timaat-markerhead-polygon {
	background-image: url('../img/markerhead-polygons-black.png');
}
.timaat-timeline-marker-white .timaat-markerhead-anim {
	background-image: url('../img/markerhead-anim-black.png');
}

.timaat-timeline-markerbar {
	pointer-events: all;
	background-color: rgba(200,0,100,0.3);
	width: calc(100% - 1px);
	height: 10px;
}
.timaat-timeline-markerhead {
	pointer-events: all;
	border-radius: 2px;
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	margin-top: -10px;
	margin-left: -2px;
	background-color: #c80064;
}

.timaat-markerhead-polygon {
	background-image: url('../img/markerhead-polygons-white.png');
}
.timaat-markerhead-anim {
	background-image: url('../img/markerhead-anim-white.png');
}
.timaat-timeline-markerhead.picture {
	border-radius: 25px;
}

.timaat-timeline-marker-start {
	pointer-events: all;
	z-index: 1000;
	float: left;
	position: absolute !important;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 10px;
	background-image: url('../img/range-marker-start.png');
	background-repeat: no-repeat;
	background-size: 9px 10px;
	border-right: 1px solid #535649;
	margin-left: -11px;
	margin-top: 0px;
	background-position-y: bottom;
	background-position-x: 1px;
}

.timaat-timeline-marker-end {
	pointer-events: all;
	z-index: 1000;
	float: right;
	position: absolute !important;
	top: 0px;
	bottom: 0px;
	right: -8px;
	width: 10px;
	background-image: url('../img/range-marker-end.png');
	background-repeat: no-repeat;
	background-size: 9px 10px;
	border-left: 1px solid #535649;
	margin-top: 0px;
	background-position-y: bottom;
	background-position-x: -1px;
}

.sidebar {
	position: absolute;
	left: 0;
}
#side-menu {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
#side-menu li {
	width: 50px;
	height: 50px;
	font-size: 150%;
	padding-left: 10px;
	padding-top: 5px;
}
#side-menu li a {
	color: #337ab7;
}
#side-menu li a:hover {
	color: #23527c;	
}

#timaat-timeline-slider-pane {
	margin-top: 2px;
}

.timaat-timeline-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  background: linear-gradient(to right,  #ed1e24 0%,#ed1e24 0%,#939393 0%,#939393 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.timaat-timeline-slider:hover {
  opacity: 1;
}

.timaat-timeline-slider:hover::-webkit-slider-thumb {
	opacity: 1;
	display: block;
	border: 1px solid #666;
	-webkit-appearance: none;
	appearance: none;
	width: 4px;
	height: 18px;
	background: #EEE;
}

.timaat-timeline-slider::-webkit-slider-thumb {
	border: 0px;
	-webkit-appearance: none;
	appearance: none;
	width: 2px;
	height: 18px;
	background: #666;
	cursor: pointer;
}

.timaat-timeline-slider::-moz-range-thumb {
	border: 1px solid #666;
  width: 4px;
  height: 18px;
  background: #EEE;
  cursor: pointer;
}

#timaat-videoplayer-video-title {
	color: grey;
}
.timaat-user-log, .timaat-uploads {
	cursor: pointer;
}
.timaat-user-log:disabled {
	cursor: default;
}

#timaat-mediadatasets-medium-tags {
	cursor: pointer;
}

.timaat-colorPicker .track {
	margin-left: 6.3em;
	margin-top: 0.5em;
}

#timaat-volumeicon:hover,
.timaat-user-log i:hover,
.timaat-annotation-list-tags i:hover,
#timaat-mediadatasets-medium-tags i:hover {
	color: #17a2b8;
}

.timaat-upload-popover {
	min-width: 350px;
}

ul.timaat-upload-list li {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tagsinput,.tagsinput *{box-sizing:border-box}
.tagsinput{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;background:#fff;font-family:sans-serif;font-size:14px;line-height:20px;color:#556270;padding:5px 5px 0;border:1px solid #e6e6e6;border-radius:2px}
.tagsinput.focus{border-color:#ccc}
.tagsinput .tag {border-radius: 6px;position:relative;background:#556270;display:block;max-width:100%;word-wrap:break-word;color:#fff;padding:5px 30px 5px 5px;border-radius:2px;margin:0 5px 5px 0}
.tagsinput .tag .tag-remove{position:absolute;background:0 0;display:block;width:30px;height:30px;top:0;right:0;cursor:pointer;text-decoration:none;text-align:center;color:#ff6b6b;line-height:30px;padding:0;border:0}
.tagsinput .tag .tag-remove:after,.tagsinput .tag .tag-remove:before{background:#ff6b6b;position:absolute;display:block;width:10px;height:2px;top:14px;left:10px;content:''}
.tagsinput .tag .tag-remove:before{-webkit-transform:rotateZ(45deg);transform:rotateZ(45deg)}
.tagsinput .tag .tag-remove:after{-webkit-transform:rotateZ(-45deg);transform:rotateZ(-45deg)}
.tagsinput div{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}
.tagsinput div input{background:0 0;display:block;width:100%;font-size:14px;line-height:20px;padding:5px;border:0;margin:0 5px 5px 0}
.tagsinput div input.error{color:#ff6b6b}
.tagsinput div input::-ms-clear{display:none}
.tagsinput div input::-webkit-input-placeholder{color:#ccc;opacity:1}
.tagsinput div input:-moz-placeholder{color:#ccc;opacity:1}
.tagsinput div input::-moz-placeholder{color:#ccc;opacity:1}
.tagsinput div input:-ms-input-placeholder{color:#ccc;opacity:1}

.form {
	border-style: solid;
	border-width: 1px;
	border-color: #aeb8c1;
	border-radius: 5px;
	padding: 5px;
}

.form .error { 
	color:#ff0000
}

.caps-title:first-letter {
	text-transform: capitalize;
}

input.table-control {
  width: auto;
}

.form-group {
	margin-bottom: 5px;
}

.form-control input {
	color: #000000;
}
.form-control::placeholder {
  color: #acacac;
}
.form-control::-moz-placeholder {
  color: #acacac;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #acacac;
}
.form-control::-webkit-input-placeholder {
  color: #acacac;
}

.form-control:disabled {
	resize: none;
}

select {
	color: #000000;
}
select:invalid {
	color: #acacac;
}

select:disabled {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
	text-decoration: none;
}

.vertical-aligned {
	display: flex;
	justify-content: center;
	align-items: center;
}

.datasheet-form-upload-button {
	display: none;
}

[data-role="add"],
[data-role="addMembershipDetails"],
[data-role="remove"],
[data-role="removeMembershipDetails"],
[data-role="save"] {
  line-height: 1;
}

[data-role="medium-dynamic-title-fields"] > .form-group [data-role="add"] {
  display: none;
}

[data-role="medium-new-title-fields"] > .form-group [data-role="add"] {
	display: none;
}

[data-role="medium-new-title-fields"] > .form-group:last-child [data-role="add"] {
	display: inline-block;
}

[data-role="medium-new-title-fields"] > .form-group:last-child [data-role="remove"] {
  display: none;
}

[data-role="medium-dynamic-languagetrack-fields"] > .form-group [data-role="add"] {
	display: none;
}

[data-role="medium-new-languagetrack-fields"] > .form-group [data-role="add"] {
	display: none;
}

[data-role="medium-new-languagetrack-fields"] > .form-group:last-child [data-role="add"] {
	display: inline-block;
}

[data-role="medium-new-languagetrack-fields"] > .form-group:last-child [data-role="remove"] {
	display: none;
}

[data-role="music-dynamic-title-fields"] > .form-group [data-role="add"] {
  display: none;
}

[data-role="music-new-title-fields"] > .form-group [data-role="add"] {
	display: none;
}

[data-role="music-new-title-fields"] > .form-group:last-child [data-role="add"] {
	display: inline-block;
}

[data-role="music-new-title-fields"] > .form-group:last-child [data-role="remove"] {
  display: none;
}

[data-role="music-dynamic-languagetrack-fields"] > .form-group [data-role="add"] {
	display: none;
}

[data-role="music-new-languagetrack-fields"] > .form-group [data-role="add"] {
	display: none;
}

[data-role="music-new-languagetrack-fields"] > .form-group:last-child [data-role="add"] {
	display: inline-block;
}

[data-role="music-new-languagetrack-fields"] > .form-group:last-child [data-role="remove"] {
	display: none;
}

.col-form-label.sm {
	line-height: 1;
}

fieldset {
	font-family: sans-serif;
	border: 2px solid #acacac;
	/* background: #ddd; */
	border-radius: 5px;
	padding: 3px;
}

fieldset legend {
	background: #eeeeee;
	/* color: #fff; */
	padding: 0px 10px;
	font-size: 18px;
	border-radius: 5px;
	/* box-shadow: 0 0 0 5px #ddd; */
	/* margin-left: 10px; */
}

.radioButtonsHorizontalEvenlySpaced {
	display: flex;
	justify-content: space-evenly;
}

.dataTables_paginate .paginate_button.disabled {
	display: none;
}

.hidden-icon {
	display: none;
}

.center {
  display: block;
  margin-left: auto;
	margin-right: auto;
}

.carousel-centered {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
 
.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

td.details-control {
	text-align: center;
	cursor: pointer;
}

tr.shown td.details-control {
	text-align: center; 
}

.error {
	color: red;
}

Tooltip container
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* .invalid class prevents CSS from automatically applying */
.invalid input:required:invalid {
  background: #BE4C54;
}

/* Mark valid inputs during .invalid state */
.invalid input:required:valid {
  background: #17D654;
}

/* Timeline */
#timeline {
	overflow: hidden;
}
#timaat-timeline-zoomable {
	position: relative;
}
.timeline-fulltick {
	cursor: pointer;
	min-width: 50px;
	max-width: 80px;
	width: 50px;
	position: relative;
	height: 100%;
}
.timeline-tick-0, .timeline-tick-1, .timeline-tick-2, .timeline-tick-3, .timeline-tick-4, .timeline-tick-5, .timeline-tick-6, .timeline-tick-7, .timeline-tick-8, .timeline-tick-9 {
	pointer-events: none;
}
.time-indicator {
	position: absolute;
	z-index: 100;
	margin-left: 0;
	height: 100%;
	width: 1px;
	top: 1px;
	left: 150px;
	bottom: 1px;
	cursor: pointer;
	transition: margin-left 0.1s;
}
.timeline-section-header.timeline-control {
	cursor: auto;
	background-color: #444a50;
}
.timeline-layer-pane {
	overflow: auto;
	background: #333;
	overflow-y: hidden;
	position: relative;
}
.timeline-section {
	position: relative;
	height: 70px;
	transition: height 0.2s;
}
.timeline-section .timeline-section-header .timeline-section-widgets {
	cursor: pointer;
}
.timeline-section-header {
	position: absolute;
	padding-top: 2px;
	overflow: hidden;
	width: 150px;
	height: 100%;
	box-shadow: 1px 0px 2px #333;
	cursor: ns-resize;
	z-index: 1025;
}
.timeline-section.collapsed .timeline-section-header .collapse-widget i:before {
	content: "\f105";
}
.timeline-section .timeline-section-header .collapse-widget i:before {
	content: "\f107";
}

.timeline-section-title {
	text-shadow: 1px 1px 2px black;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.timeline-section-content {
	position: relative;
	margin-left: 150px;
	width: 5000px;
	height: 100%;
	overflow: visible;
	box-shadow: 2px 0px 2px black;
/* 	transition: width 0.6s; */
}
.timeline-section-segment-structure {
	height: 98px;
}
.timeline-section-segment-structure .timeline-section-content {
	overflow: hidden;
}

.timeline-section.collapsed {
	height: 24px !important;
}
.timeline-section-annotation.collapsed {
	height: 31px !important;
}
.timeline-section-annotation.collapsed .timeline-section-header .badge-secondary {
	display: none;
}