/* Generic classes */

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
}

fieldset {
	font-family: sans-serif;
	border: 2px solid #acacac;
	/* background: #ddd; */
	border-radius: 5px;
	padding: 3px;
}

legend {
	background: #eeeeee;
	/* color: #fff; */
	padding: 0px 10px;
	font-size: 18px;
	border-radius: 5px;
	/* box-shadow: 0 0 0 5px #ddd; */
	/* margin-left: 10px; */
}

hr {
  border: 0;
  background-color:#dee2e6;
  height: 1px;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
}

p + p {
	margin-top: 15px;
}

select {
	color: #000000;
}

select:invalid {
	color: #acacac;
}

select:disabled {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

/*  */

a.dropdown-item {
	cursor: pointer;
}

body.timaat-login-modal-open #wrapper {
	-webkit-filter: blur(50px);
	-moz-filter: blur(50px);
	-o-filter: blur(50px);
	-ms-filter: blur(50px);
	filter: blur(50px);
}

button i.collapse-icon:before {
	content: "\f0d7";
}
button.collapsed i.collapse-icon:before {
	content: "\f0da";
}

th.timaat-padding, td.timaat-padding {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
th.timaat-padding.sorting_asc:before, th.timaat-padding.sorting_desc:before, th.timaat-padding.sorting_asc:after, th.timaat-padding.sorting_desc:after {
	bottom: 0.25rem !important;
}


.carousel--centered {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.dataTables_paginate .paginate_button.disabled {
	display: none;
}


#timaat-notification-pane {
	position: absolute;
	top: 1em;
	right: 1em;
}

#timaat-notification-pane .toast {
	min-width: 250px;
}

#timaat-notification-pane .toast .notification-action-color {
	font-size: 100%;
}

#timaat-login-modal {
	background: url('../img/timaat-login-backdrop.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#timaat-login-modal .modal-content {
	box-shadow: 0px 0px 32px black;
}

.modal-body {
	max-height: 80vh;
	overflow-y: auto;
}

.input-usersettings {
	margin-bottom: 16px !important;
}

.navbar-default {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
	color: #777;
}

.sidebar {
	z-index: 1;
	margin-top: 51px;
}

@media (min-width: 768px) {
	.sidebar {
		z-index: 1;
		position: absolute;
		width: 250px;
		margin-top: 51px;
	}
}

.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}

#wrapper {
	width: 100%;
}

#wrapper.toggled #sidebar-wrapper .sidebar {
	width: 50px;
}

#wrapper.toggled #page-wrapper {
	margin: 0 0 0 50px;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 0;
    border-left: 1px solid #e7e7e7;
  }
}

.nav-item {
	color: #007bff;
}

.timaat-component {
	display: none;
}

.btn-success.btn-outline {
	color: #5cb85c;
}

.btn-danger.btn-outline {
	color: #d9534f;
}

.btn-outline {
	color: inherit;
	background-color: transparent;
	transition: all .5s;
}


#timaat-component-videoplayer .timaat-videoplayer-video-footer {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.note-toolbar {
 background-color:lightgray;
}

.card-img-top {
	width: auto;
	max-width: 100%;
	max-height: 100%;
}

.table.dataTable tbody tr.selected td,
.table.dataTable.table-striped tbody tr.selected td {
	background-color: #007bff;
}

.timaat-sidebar-tab:hover {
	background-color: white;
}
.timaat-sidebar-tab a.selected {
	color: white !important;
}
.timaat-sidebar-tab a {
	color: #555 !important;
}

.timaat-item-disabled {
	cursor: default !important;
	color: #6c757d !important;

}
.timaat-item-disabled:hover {
	background-color: white !important;
}

.card-body {
	padding: 0px;
}

#timaat-annotation-metadata {
	display: none;
}

.dropdown-item-indented {
	text-indent: 10%;
}

.dropdown-item-double-indented {
	text-indent: 20%;
}

.list-group__item {
  cursor: pointer;
	font-size: 90%;
	max-height: 150px;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 10px;
}

.list-group__item:hover {
  background-color: #e5e5e5;
}

.list-group__item--selected {
  background-color: #c9e2ff;
}

.list-group__item--selected:hover {
  background-color: #c9e2ff;
}

#video-seek-bar {
	width: 100%;
	z-index: 100;
}

#timaat-timeline-music-form-element-pane {
	width: 100%;
	height: 15px;
	display: none;
	margin-bottom: 57px;
}

#timaat-timeline-segment-pane,
#timaat-timeline-take-pane,
#timaat-timeline-action-pane {
	width: 100%;
	height: 15px;
	display: none;
	margin-bottom: 2px;
}

#timaat-timeline-sequence-pane,
#timaat-timeline-scene-pane {
	width: 100%;
	height: 15px;
	display: none;
	margin-top: 5px;
	margin-bottom: 2px;
}

#timaat-timeline-music-change-in-tempo-element-pane,
#timaat-timeline-music-articulation-element-pane,
#timaat-timeline-music-dynamics-element-pane,
#timaat-timeline-music-text-setting-element-pane {
	width: 100%;
	height: 15px;
	display: none;
	margin-bottom: 2px;
}

#timaat-timeline-keyframe-pane {
	position: absolute;
	width: 100%;
	height: 20px;
}
.timaat-timeline-keyframe {
	pointer-events: none;
	font-size: 8px;
	height: 20px;
	z-index: 200;
	margin-top: 10px;
	position: absolute;
	float: left;
	border-left: 2px solid black;
}
.timaat-timeline-keyframe .timaat-timeline-keyframehead {
	pointer-events: all;
	cursor: pointer;
	transform: rotate(45deg);
	border: 1px solid #333;
	box-shadow: 0px 0px 1px #333;
	width: 10px;
	height: 10px;
	margin-left: -6px;
	margin-top: -7px;
	background: white;
}
.timaat-timeline-keyframe .timaat-timeline-keyframehead.first {
	background: #e00;
}
.timaat-timeline-keyframe .timaat-timeline-keyframehead.selected {
	background: #6c757d !important;
}
.timaat-timeline-segment,
.timaat-timeline-sequence,
.timaat-timeline-take,
.timaat-timeline-scene,
.timaat-timeline-action,
.timaat-timeline-music-change-in-tempo-element,
.timaat-timeline-music-articulation-element,
.timaat-timeline-music-dynamics-element,
.timaat-timeline-music-text-setting-element {
	position: absolute;
	border-left: 1px solid #aeb8c1;
	/* border-right: 1px solid #aeb8c1; */
	height: 15px;
	float:left;
	width: 0px;
	background-color: #6c757d;
	cursor: pointer;
}
.timaat-timeline-music-form-element {
	position: absolute;
	height: 22px;
	float:left;
	width: 0px;
	cursor: pointer;
	border-style: double;
	border-color: #0001;
}
.timaat-timeline-segment-name,
.timaat-timeline-sequence-name,
.timaat-timeline-take-name,
.timaat-timeline-scene-name,
.timaat-timeline-action-name,
.timaat-timeline-music-change-in-tempo-element-type,
.timaat-timeline-music-articulation-element-type,
.timaat-timeline-music-dynamics-element-type,
.timaat-timeline-music-text-setting-element-type {
	padding-left: 3px;
	font-size: 0.70rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.timaat-timeline-music-form-element-type {
	margin-bottom: auto;
	padding-left: 3px;
	font-size: 0.70rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.timaat-timeline-selected-music-form-element {
	border-color: #000;
}

.timaat-timeline-music-form-element-lyrics {
	font-size: x-small;
	border-style: ridge;
	border-color: #0000;
	word-break: break-all;
	max-height: 50px;
	overflow: hidden;
}

#timaat-timeline-marker-pane {
	width: 100%;
	height: 15px;
}
#timaat-timeline-marker-pane .timaat-timeline-marker-anim {
	background-color: rgba(0, 0, 0, 0.3);
}
#timaat-timeline-visual-layer #timaat-timeline-marker-visual {
	display: block;
}

.timaat-audio-layer {
	transition: height 0.5s;
	position: relative;
	width: 100%;
	height: 0px;
	margin-top: -6px;
	border: 1px solid gray;
	border-top: none;
}

.timaat-audio-layer .timaat-audio-baseline {
	background: linear-gradient(180deg, rgba(0,0,0,0) calc(50% - 0.5px), #395C8D calc(50%), rgba(0,0,0,0) calc(50% + 0.5px) );
	width: 100%;
	height: 100%;
}
.timaat-audio-layer .timaat-audio-waveform {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.6;
}

.timaat-timeline-marker {
	pointer-events: none;
/*	margin-top: -20px; */
	position: absolute;
	float: left;
	width: 0px;
	border-left: 2px solid #c80064;
}
.timaat-timeline-marker-white {
	box-shadow: -1px 0px 0px 0px grey;
}

.timaat-timeline-marker-white .timaat-timeline-markerbar {
	border: 1px solid grey;
}
.timaat-timeline-marker-white .timaat-timeline-markerhead {
	border: 1px solid grey;
	border-left: 0px;
}
.timaat-timeline-marker-white .timaat-markerhead-polygon {
	background-image: url('../img/markerhead-polygons-black.png');
}
.timaat-timeline-marker-white .timaat-markerhead-anim {
	background-image: url('../img/markerhead-anim-black.png');
}

.timaat-timeline-markerbar {
	pointer-events: all;
	background-color: rgba(200,0,100,0.3);
	width: calc(100% - 1px);
	height: 10px;
}
.timaat-timeline-markerhead {
	pointer-events: all;
	border-radius: 2px;
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	margin-top: -10px;
	margin-left: -2px;
	background-color: #c80064;
}

.timaat-markerhead-polygon {
	background-image: url('../img/markerhead-polygons-white.png');
}
.timaat-markerhead-anim {
	background-image: url('../img/markerhead-anim-white.png');
}
.timaat-timeline-markerhead.picture {
	border-radius: 25px;
}

.timaat-timeline-marker-start {
	pointer-events: all;
	z-index: 1000;
	float: left;
	position: absolute !important;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 10px;
	background-image: url('../img/range-marker-start.png');
	background-repeat: no-repeat;
	background-size: 9px 10px;
	border-right: 1px solid #535649;
	margin-left: -11px;
	margin-top: 0px;
	background-position-y: bottom;
	background-position-x: 1px;
}

.timaat-timeline-marker-end {
	pointer-events: all;
	z-index: 1000;
	float: right;
	position: absolute !important;
	top: 0px;
	bottom: 0px;
	right: -8px;
	width: 10px;
	background-image: url('../img/range-marker-end.png');
	background-repeat: no-repeat;
	background-size: 9px 10px;
	border-left: 1px solid #535649;
	margin-top: 0px;
	background-position-y: bottom;
	background-position-x: -1px;
}

.sidebar {
	position: absolute;
	left: 0;
}
#side-menu {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
#side-menu li {
	width: 50px;
	height: 50px;
	font-size: 150%;
	padding-left: 10px;
	padding-top: 5px;
}
#side-menu li a {
	color: #337ab7;
}
#side-menu li a:hover {
	color: #23527c;
}

#timaat-timeline-slider-pane {
	margin-top: 2px;
}

.timaat-timeline-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  background: linear-gradient(to right,  #ed1e24 0%,#ed1e24 0%,#939393 0%,#939393 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.timaat-timeline-slider:hover {
  opacity: 1;
}

.timaat-timeline-slider:hover::-webkit-slider-thumb {
	opacity: 1;
	display: block;
	border: 1px solid #666;
	-webkit-appearance: none;
	appearance: none;
	width: 4px;
	height: 18px;
	background: #EEE;
}

.timaat-timeline-slider::-webkit-slider-thumb {
	border: 0px;
	-webkit-appearance: none;
	appearance: none;
	width: 2px;
	height: 18px;
	background: #666;
	cursor: pointer;
}

.timaat-timeline-slider::-moz-range-thumb {
	border: 1px solid #666;
  width: 4px;
  height: 18px;
  background: #EEE;
  cursor: pointer;
}

.timaat-user-log, .timaat-uploads {
	cursor: pointer;
}
.timaat-user-log:disabled {
	cursor: default;
}

.timaat-colorPicker .track {
	margin-left: 6.3em;
	margin-top: 0.5em;
}

.timaat-user-log i:hover {
	color: #17a2b8;
}

.timaat-upload-popover {
	min-width: 350px;
}

ul.timaat-upload-list li {
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tagsinput,.tagsinput *{box-sizing:border-box}
.tagsinput{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;background:#fff;font-family:sans-serif;font-size:14px;line-height:20px;color:#556270;padding:5px 5px 0;border:1px solid #e6e6e6;border-radius:2px}
.tagsinput.focus{border-color:#ccc}
.tagsinput .tag {border-radius: 6px;position:relative;background:#556270;display:block;max-width:100%;word-wrap:break-word;color:#fff;padding:5px 30px 5px 5px;border-radius:2px;margin:0 5px 5px 0}
.tagsinput .tag .tag-remove{position:absolute;background:0 0;display:block;width:30px;height:30px;top:0;right:0;cursor:pointer;text-decoration:none;text-align:center;color:#ff6b6b;line-height:30px;padding:0;border:0}
.tagsinput .tag .tag-remove:after,.tagsinput .tag .tag-remove:before{background:#ff6b6b;position:absolute;display:block;width:10px;height:2px;top:14px;left:10px;content:''}
.tagsinput .tag .tag-remove:before{-webkit-transform:rotateZ(45deg);transform:rotateZ(45deg)}
.tagsinput .tag .tag-remove:after{-webkit-transform:rotateZ(-45deg);transform:rotateZ(-45deg)}
.tagsinput div{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}
.tagsinput div input{background:0 0;display:block;width:100%;font-size:14px;line-height:20px;padding:5px;border:0;margin:0 5px 5px 0}
.tagsinput div input.error{color:#ff6b6b}
.tagsinput div input::-ms-clear{display:none}
.tagsinput div input::-webkit-input-placeholder{color:#ccc;opacity:1}
.tagsinput div input:-moz-placeholder{color:#ccc;opacity:1}
.tagsinput div input::-moz-placeholder{color:#ccc;opacity:1}
.tagsinput div input:-ms-input-placeholder{color:#ccc;opacity:1}

.col-form-label.sm {
	line-height: 1;
}

.hidden-icon {
	display: none;
}

.center {
  display: block;
  margin-left: auto;
	margin-right: auto;
}

td.details-control {
	text-align: center;
	cursor: pointer;
}

tr.shown td.details-control {
	text-align: center;
}

.error {
	color: red;
}

.capitalize--first-letter:first-letter {
	text-transform: capitalize;
}

.sidebar__item--isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
	text-decoration: none;
}

.vertical-aligned {
	display: flex;
	justify-content: center;
	align-items: center;
}

Tooltip container
.tooltip {
  position: relative;
  display: inline-block;
	/* pointer-events: none; */
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-inner {
	max-width: 400px;
}

/* .invalid class prevents CSS from automatically applying */
.invalid input:required:invalid {
  background: #BE4C54;
}

/* Mark valid inputs during .invalid state */
.invalid input:required:valid {
  background: #17D654;
}