.playbutton i.play {
	display: inline-block;
}
.playbutton i.pause {
	display: none;
}
.playing i.play {
	display: none !important;
}
.playing i.pause {
	display: inline-block !important;
}

.playbutton, 
.stepbckbutton, 
.stepfwdbutton {
	cursor: pointer;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body.timaat-login-modal-open #wrapper {
    -webkit-filter: blur(50px);
    -moz-filter: blur(50px);
    -o-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
}

.timaat-component {
	display: none;
}

.timaat-video-card {
	cursor: pointer;
	width: 16rem;
	float: left;
	margin-right: 2em;
	margin-bottom: 2em;
}

.timaat-video-upload-card {
	border: 2px dashed #bbb;
}
#timaat-video-upload {
	position: absolute;
	width: 100%;
	height: 100%
}
#timaat-video-upload:hover {
	background: black;
	opacity: 0.2;
}

.timaat-video-transcoding {
	display: none;
	cursor: default;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	text-align: center;
	font-size: 150%;
	color: white;
}
.timaat-video-transcoding i {
	margin-top: 50px;
}

.timmat-video-thumbnail {
	width: 254px !important;
	height: 133px;
}

.timaat-video-card .duration {
	margin-top: -1.7em;
	margin-right: 0.5em;
	text-shadow: 0 0 2px black;
}

.timaat-video-card .title {
	font-size: 0.75rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.timaat-sidebar-tab:hover {
	background-color: white;
}
.timaat-sidebar-tab a.selected {
	color: white !important;
}
.timaat-sidebar-tab a {
	color: #555 !important;
}

.timaat-item-disabled {
	cursor: default !important;
	color: #6c757d !important;
	
}
.timaat-item-disabled:hover {
	background-color: white !important;
}

.timaat-volumecontrol {
	display: inline-block;
	overflow: hidden;
	height: 1.3rem;
	padding-top: 2px;
	width: 20px;
	transition: width 0.1s;
}
.timaat-volumecontrol:hover {
	width: 130px;
}
.timaat-volumecontrol input {
	width: 100px;
	float: right;
	margin-top: 3px;
	height: 1.3rem;
}
#timaat-volumeicon {
	cursor: pointer;
}
#timaat-volumeicon i.volume {
	display: inline;
}
#timaat-volumeicon i.mute {
	display: none;
}
.timaat-no-tags {
	color: #bbbbbb !important;
}
.timaat-annotation-list-segment {
	 padding: 0.1rem 0.5rem;
	 color: white !important;
	 background-color: #6c757d !important;
/*	 cursor: default !important; */
}

.timaat-annotation-list-title,
.timaat-annotation-segment-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.timaat-annotation-segment-title {
	padding-left: 4px;
}

.timaat-annotation-list-tags {
	margin-right: 7px;
	margin-top: 2px;
}

.timaat-annotation-list-wrapper {
	overflow-y: inherit;
	overflow-x: hidden;
}

#timaat-annotation-list li, 
#timaat-tagset-list li, 
#timaat-event-list li, 
#timaat-location-list li,
#timaat-country-list li,
#timaat-actor-list li {
	cursor: pointer;
	font-size: 90%;
}
#timaat-annotation-list li:hover, 
#timaat-tagset-list li:hover, 
#timaat-event-list li:hover, 
#timaat-location-list li:hover, 
#timaat-country-list li:hover, 
#timaat-actor-list li:hover {
	background-color: #e5e5e5;
}
.timaat-annotation-list-selected, 
.timaat-tagset-list-selected, 
.timaat-event-list-selected, 
.timaat-location-list-selected,
.timaat-country-list-selected,
.timaat-ctor-list-selected {
	background-color: #c9e2ff;
}
.timaat-annotation-list-selected:hover,
.timaat-tagset-list-selected:hover,
.timaat-event-list-selected:hover,
.timaat-location-list-selected:hover,
.timaat-country-list-selected:hover,
.timaat-actor-list-selected:hover {
	background-color: #c9e2ff !important;
}

.timaat-tagset-chooser,
.timaat-event-chooser,
.timaat-location-chooser,
.timaat-country-chooser,
.timaat-actor-chooser {
	margin-top: 0.5em;
}

.timaat-tagset-remove,
.timaat-event-remove,
.timaat-location-remove,
.timaat-country-remove,
.timaat-actor-remove {
	margin-right: 1em;
}

#timaat-videoplayer-annotation-add-button:disabled,
#timaat-videoplayer-annotation-remove-button:disabled {
	color: #bbb;
}

#timaat-annotation-metadata {
	display: none;
}
a.dropdown-item {
	cursor: pointer;
}

#timaat-map-overlay {
	display: none;
	z-index: 1000;
	background-color: white;
	position: absolute;
	left: 70px;
	right: 20px;
	top: 20px;
	bottom: 69px;
}

#timaat-video-seek-bar {
	width: 100%;
	z-index: 100;
}

#timaat-timeline-segment-pane {
	width: 100%;
	height: 15px;
}
.timaat-timeline-segment {
	position: absolute;
	border-left: 1px solid #aeb8c1;
	border-right: 1px solid #aeb8c1;
	height: 15px;
	float:left;
	width: 0px;
	background-color: #6c757d;	
	cursor: pointer;
}
.timaat-timeline-segment-title {
	padding-left: 3px;
	font-size: 0.70rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#timaat-timeline-marker-pane {
	width: 100%;
	height: 15px;
}
.timaat-timeline-marker {
	margin-top: -6px;
	position: absolute;
	float: left;
	width: 0px;
	height: 18px;
	background-color: rgba(200,0,100,0.3);
	border-left: 2px solid #c80064;
}
.timaat-timeline-markerhead {
	border-radius: 2px;
	display: block;
	width: 10px;
	height: 10px;
	position: absolute;
	margin-top: 18px;
	margin-left: -6px;
	background-color: #c80064;
}
.timaat-timeline-markerhead.picture {
	border-radius: 25px;
}
.sidebar {
	position: absolute;
	left: 0;
}
#side-menu {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
#side-menu li {
	width: 50px;
	height: 50px;
	font-size: 150%;
	padding-left: 10px;
	padding-top: 5px;
}
#side-menu li a {
	color: #337ab7;
}
#side-menu li a:hover {
	color: #23527c;	
}

.timaat-timeline-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  background: linear-gradient(to right,  #ed1e24 0%,#ed1e24 0%,#939393 0%,#939393 100%);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.timaat-timeline-slider:hover {
  opacity: 1;
}

.timaat-timeline-slider:hover::-webkit-slider-thumb {
  opacity: 1;
  display: block;
}

.timaat-timeline-slider::-webkit-slider-thumb {
	display: none;
	border: 1px solid #666;
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  height: 18px;
  background: #EEE;
  cursor: pointer;
}

.timaat-timeline-slider::-moz-range-thumb {
	border: 1px solid #666;
  width: 4px;
  height: 18px;
  background: #EEE;
  cursor: pointer;
}

#timaat-videoplayer-video-title {
	color: grey;
}
#timaat-videoplayer-video-speed {
	font-weight: bold;
	cursor: pointer;
}
.timaat-user-log {
	cursor: pointer;
}
.timaat-user-log:disabled {
	cursor: default;
}

#timaat-medium-tags {
	cursor: pointer;
}

#timaat-videoplayer-video-speed:hover,
#timaat-volumeicon:hover,
.stepbckbutton i:hover,
.playbutton i:hover,
.stepfwdbutton i:hover,
.timaat-user-log i:hover,
.timaat-annotation-list-tags i:hover,
#timaat-medium-tags i:hover {
	color: #17a2b8;
}


.tagsinput,.tagsinput *{box-sizing:border-box}
.tagsinput{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;background:#fff;font-family:sans-serif;font-size:14px;line-height:20px;color:#556270;padding:5px 5px 0;border:1px solid #e6e6e6;border-radius:2px}
.tagsinput.focus{border-color:#ccc}
.tagsinput .tag {border-radius: 6px;position:relative;background:#556270;display:block;max-width:100%;word-wrap:break-word;color:#fff;padding:5px 30px 5px 5px;border-radius:2px;margin:0 5px 5px 0}
.tagsinput .tag .tag-remove{position:absolute;background:0 0;display:block;width:30px;height:30px;top:0;right:0;cursor:pointer;text-decoration:none;text-align:center;color:#ff6b6b;line-height:30px;padding:0;border:0}
.tagsinput .tag .tag-remove:after,.tagsinput .tag .tag-remove:before{background:#ff6b6b;position:absolute;display:block;width:10px;height:2px;top:14px;left:10px;content:''}
.tagsinput .tag .tag-remove:before{-webkit-transform:rotateZ(45deg);transform:rotateZ(45deg)}
.tagsinput .tag .tag-remove:after{-webkit-transform:rotateZ(-45deg);transform:rotateZ(-45deg)}
.tagsinput div{-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1}
.tagsinput div input{background:0 0;display:block;width:100%;font-size:14px;line-height:20px;padding:5px;border:0;margin:0 5px 5px 0}
.tagsinput div input.error{color:#ff6b6b}
.tagsinput div input::-ms-clear{display:none}
.tagsinput div input::-webkit-input-placeholder{color:#ccc;opacity:1}
.tagsinput div input:-moz-placeholder{color:#ccc;opacity:1}
.tagsinput div input::-moz-placeholder{color:#ccc;opacity:1}
.tagsinput div input:-ms-input-placeholder{color:#ccc;opacity:1}
